
<h2>burgers to eat! </h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>


<h2>devoured burgers! </h2>

<ul>
  {{#each burgers}} 
    {{#if devoured}}
      {{>burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
